@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Light-07.woff') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Medium-09.woff2') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Heavy-05.woff') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Book-01.woff') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Black-03.woff2') format('truetype');
  font-weight: 900;
  font-display: swap;
}


@font-face {
  font-family: 'Rubik';
  src: url('./fonts/static/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/static/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/static/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-primary: #014D65;
  --color-secondary: #61B99F;
  --color-alt: #43989C;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-titles: "Avenir";
  --font-text: "Rubik";
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-text);
  background-color: var(--color-primary);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none !important;
}

strong {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-titles);
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-size: 5rem;
  line-height: 66px;

  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
}

h3 {
  font-size: 3rem;
  line-height: 1.125;
  color: var(--color-white);
  font-family: var(--font-text);
  font-weight: 900;
}

h2 {
  font-size: 5.4rem;
  line-height: 59px;
  color: var(--color-black);
  font-weight: 900;
}
h4 {
  font-size: 2.2rem;
  line-height: 1.23;
  font-family: var(--font-text);
  font-weight: 900;
}
figure {
  margin: 0;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 2.5rem;
  line-height: 38px;
  color: var(--color-white);
  font-weight: normal;
  margin: 0;
}
h3 a {
  text-decoration: underline !important;
}
img {
  max-width: 100%;
}
/* Grid */

.container {
  position: relative;
  width: 1168px;
  max-width: 90%;
  margin: auto;
}

section {
  padding: 88px 120px;
  position: relative;
}

/* Custom */

/* Banner */
.page__banner {
  background-size: cover;
  background-image: url(./images/banner.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 176px);
}
.page__banner__text {
  max-width: 1000px;
}
.page__banner h1 {
  margin: 0 0 20px;
}

.page__banner p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
.page__banner p:last-child {
  margin-bottom: 0;

}

.page__banner--logo {
  width: 200px;
  position: absolute;
  top: 0;
  left: 58px;
}

.page__banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Profile */

.page__profile {
  background: #E6EDF1;
  
  /* background-image: url("./images/bg-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
}
.page__profile__wrapper {
  column-gap: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__profile_content{
  max-width: 800px;
}
.page__profile__wrapper img {
  max-width: 430px;
  scale: -1 1;

}

.page__profile__wrapper p {
  margin: 20px 0 0;
  font-size: 1.7rem;
  line-height: 1.59;
  font-weight: 300;
  color: #000;
}
.page__profile__wrapper h3 {
  font-family: var(--font-titles);
  font-weight: 900;
  text-transform: none;
  margin-bottom: 20px;
  font-size: 2.5rem;
  line-height: 30px;
font-style: italic;
color: #000;


}

.page__profile__wrapper h4 {
  font-family: var(--font-titles);
  font-weight: 400;
  text-transform: none;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 30px;
font-style: italic;
color: #000;
margin: 40px 0 0;

}
.page__profile__wrapper h3 a {
  font-family: var(--font-text);
  font-weight: 700;
}

/* Mission */
.page__explore.mission-block {
  background: var(--color-primary);
}

.mission-block .explore--card  h4,
.mission-block .explore--card  p{
color: #fff;
}

/* Priorities */
.priorities-block {
  background: #E6EDF1;
}

.priorities-block h2{
  text-transform: uppercase;
  margin: 0 0 30px;
}
.priorities-block p{
  margin: 0 0 40px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.2rem;
    line-height: 27px;

}
/* Explore */

.page__explore {
  background: var(--color-white);
}
.page__explore h2 {
  color: var(--color-black );
  text-transform: uppercase;
  margin: 0 0 80px;
}

.explore--card {
  flex: 1;
  /* max-width: 511px; */
}

.explore--card img {
  margin: 0 0 40px;
  max-height: 415px;
  width: 100%;
  object-fit: cover;
}

.explore--card h4 {
  font-size: 2rem;
  line-height: 24px;
  margin: 0 0 27px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6); 

}

.explore--card p {
  font-size: 2.2rem;
  line-height: 27px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6); 
  margin-bottom: 3rem;
}
.explore--card p:last-child {
  margin-bottom: 0;
}
.explore--card__wrapper {
  display: flex;
  column-gap: 54px;
}

/* Keep me posted */

.page__keep-me-posted {
  background-color: var(--color-primary);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  line-height: 30px;
  color: var(--color-white);
  font-family: var(--font-text);
  text-transform: unset;
}

footer {
  padding: 55px 80px;
  background-color: #fff;
  color: var(--color-black);
  display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
section#shadow-host-companion {
  padding: unset;
}
.footer-logo {
  gap: 30px;
  display: flex;
  flex-direction: column;
  /* max-width: 352px; */

}

.footer-logo img {
  max-width: 159px;
}
.footer-logo p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27px;
  max-width: 549px;
  font-feature-settings: "ss02" on, "ss04" on;
  color: var(--color-black);
  font-family: var(--font-titles);

}
/* .footer-logo p strong{
  font-weight: 400;


} */
.footer-copyright {
  /* margin-top: 52px; */
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3;

  letter-spacing: -0.25px;
  font-feature-settings: "ss02" on, "ss04" on;

  color: var(--color-black);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-block {
  display: flex;
  gap: 33px;
  align-items: center;
}
.socail-media-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
/* Popup */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 10px 16px 2px;
  text-align: center;
}

.modal-header h3 {
  color: var(--color-primary);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 600px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 90vh;
  overflow-y: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    transform: translateY(-250%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    transform: translateY(-250%);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: var(--color-primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 25px;
}

/* Responsive */
@media (min-width: 1700px) {
  .page__banner__text {
    max-width: 1000px;
}
}
@media (max-width: 1068px) {
  section,
  footer {
    padding: 50px;
  }
  .explore--card__wrapper,
  .page__profile__wrapper,
  .footer-logo {
    column-gap: 50px;
  }

  .page__banner {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 991px) {
  .footer-copyright {
    row-gap: 15px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  footer{
    flex-direction: column;
    align-items: center;
  }
  section,
  footer {
    padding: 50px 30px;
  }
  .explore--card__wrapper,
  .page__profile__wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
  .footer-logo{
    margin: 0 auto;
    align-items: center;
  }
  .page__banner {
    /* height: calc(100vh - 180px); */
    padding-top: 130px;
    height: auto;

  }
  .page__banner h1{
font-size:5rem ;
line-height: 57px;
margin-bottom: 20px;
    
  }
  .page__banner p {
    font-size: 2rem;
  }
  .page__profile__wrapper p{
    margin-bottom: 0;
  }
  .page__banner--logo {
    width: 120px;
    height: auto;
    right: 30px;
  }
  .copyright-block{
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  .footer-logo p{
    text-align: center;
  }
}

@media (max-width: 540px) {
  .page__banner h1{
    font-size:4rem ;
    line-height: 50px;
        
      }
  h1,
  h2 {
    font-size: 4.2rem;
    margin: 0 0 25px;
  }
  h3,
  .page__keep-me-posted a {
    font-size: 2.5rem;
  }
  .page__profile__wrapper img {
    max-width: 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
